
.box{
	padding: 15px;
	height: 400;
	width: 410;
	border: solid 1px;
	color:  #12324;
	text-align: center;
}

.box1{
	padding: 15px;
	height: 300;
	width: 410;
	border: solid 1px;
	color:  #12324;
	text-align: center;
}

.subtotal{
	text-align: left;
}

.tip{
	text-align: left;
}

.spl{
	text-align: left;
}
.answer{
	position : relative;
	text-align: left;
	margin-top: 5
}

.lastbox{
	
	vertical-align: middle;
	margin-left: 70px;
	padding: 8px;
	height: 60px;
	width: 250px;
	border: solid 1px;
	color:  #0000043;
	text-align: center;

}

